header
    nav
        ul
            li
                a(href="/" class="custom-icon")
                    i(class="fa-solid fa-xl fa-home")
        ul
            li 
                a(href="/login" class="custom-icon") 
                    i(class="fa-solid fa-xl fa-right-to-bracket")
            li 
                a(href="#" class="custom-icon" hx-post="/logout") 
                    i(class="fa-solid fa-xl fa-right-from-bracket")